
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

 
* { 
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing:border-box ;


    
}

html{
    scroll-behavior: smooth;

}
body {
    color:#17252a;

}   

.header {  
    position: fixed ;
  
     top: 0;
     left: 0;
     width :100%;
     background-color: #3aafa9;
     padding: 20px 10% ;
     display:flex;
     justify-content: space-between ;
     align-items: center;
     z-index: 100;
}

.logo {
    font-size: 25px;
    color: #ffff;
    text-decoration:none ;
    font-weight: 600;

 }

 .navbar a  {

    font-size: 18px;
    color:  #ffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;

    

 }

.navbar a:hover,
.navbar a.active {
    color: #17252a;
  position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;

     

}

.home{
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
    background-color: #3aafa9;
  
    
}

.home-content {
    margin-top: 100px;
    max-width: 800px;

}
.home-content h1{
  
    font-size: 42px;
    font-weight: 700;
    line-height: 1.2;
    
  
    

}

.home-content h1 span{
color:#feffff;
  border-bottom: 4px solid #2b7a78;
  padding-bottom: 0px;
  
 
    
  
    

}


.home-content p {
    font-size: 17px;
    margin: 20px 0 40px;

}

.home-content p span{
  font-weight:700;
  border-bottom: 4px solid #2b7a78;
  padding-bottom: 0px;
 
    
  
    

}






.image-home {
  position:relative;
  right:100px;
  left:100px;
  width:450px;
  height:400px;
  background: url(brainpic.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
     width: 150px;
     height:100%;
     background-color: #17252a;
     border: 3px solid #17252a;
     border-radius: 8px;
     font-size: 22px;
     color: #ffff;
     text-decoration: none;
     font-weight: 600;
     letter-spacing: 1px;
     z-index: 1;
     overflow: hidden;
     transition: .5s;


}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #17252a;

}

.btn-box a:nth-child(2):hover {
    color: #ffff;

}

.btn-box a:hover:nth-child(2)::after {
    background-color: #17252a;
}


.btn-box a:nth-child(1):hover {
    color: #17252a;

}




.btn-box a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #2b7a78;
    z-index: -1;
    transition: .5s;
}
.btn-box a:hover::after {
    width: 100%;
}


/*THIS IS THE howto SECTION*/

.Howto {
    padding: 80px 0px;

}

.container-h {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

}

.row {
    display: flex;
    flex-wrap :wrap;

}

.flex {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 20px;

}

.Howto h2 {
    font-size: 45px;
    margin-bottom:20px;
    color: #222;


}

.Howto h3 {
    font-size: 22px;
    color: #888;
    margin-bottom: 8px;
}

.Howto p {
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 20px;


}

.Howto img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;

}

/*.social-links {
    margin-bottom: 20px;
}

.social-links a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius:50%;
    margin-right: 10px;
    color: #ffff;
    background: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0,0.3);
    transition: all 0.4s ease;
}

.social-links a:hover {

    transform: translateY(-3px);

}
*/

.btn {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase ;
    border-radius: 5px;
    background-color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0,0.3);
    transition: all 0.4s ease;

}
.btn:hover {

    transform: translateY(-3px);

}

@media screen and (max-width: 768px){
    .row{
        flex-direction:column ;
    }
    .flex{
        max-width:100% ;

    }
    .Howto h2 {
        font-size: 31px;
    }

    .Howto p {
        font-size: 16px;
    }
    .btn {
        font-size:16px ;
        padding: 8px 16px;
        margin-bottom: 30px;

    }


}


/*THIS IS THE FOOTER*/


a {
    text-decoration: none;
    color: #fff;
  }
  .footer__links li {
    list-style: none;
    color: #fff;
  }
  section {
    display: grid;
    grid-template-rows: 1fr 10rem auto;
    grid-template-areas: "main" "." "footer";
    overflow-x: hidden;
    background: transparent;
    min-height: 50vh;
  }
  section .footer {
    z-index: 1;
    --footer-background:#17252a;
    display: grid;
    position: relative;
    grid-area: footer;
    min-height: 12rem;
  }
  section .footer .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1rem;
    background: var(--footer-background);
    filter: url("#blob");
  }
  section .footer .bubbles .bubble {
    position: absolute;
    left: var(--position, 50%);
    background: var(--footer-background);
    border-radius: 100%;
    -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
            animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    transform: translate(-50%, 100%);
  }
  section .footer .content {
    padding: 6rem 1rem 2rem;
    background: var(--footer-background);
    z-index: 2;
  }
  .footer .content .container {
    max-width: 768px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
    color: #fff;
  }
  
  .content h2 {
    margin-bottom: .25rem;
    font-size: 2.25rem;
  }
  
  .content span {
    font-size: .875rem;
  }
  
  .footer__links  {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    transition: all 150ms ease-out;
    justify-content: center;
  }
  
  .footer__links .footer__link {
    transition: all 150ms ease-out;
    display: inline-block;
  }
  
  .footer__link:hover:after {
      width: 100%;
  }
  
  .footer__link:after {
      content: '';
      display: block;
      margin: auto;
      height: 2px;
      width: 0px;
      background-color: #fff;
      transition: width .25s ease-out;
  }
  .footer__socials {
    justify-self: flex-end;
  }
  
  .footer__social {
    font-size: 1.25rem;
    margin-right: 1.5rem;
  }
  .footer__social:hover {
    opacity: 0.8;
  }
  
  .footer__copy {
    text-align: center;
    background:rgb(255, 0, 0);
    font-size: .875rem;
    text-align: center;
    color: #dcdcdc;
    padding: 3rem 0 2rem;
  }
  @-webkit-keyframes bubble-size {
    0%, 75% {
      width: var(--size, 4rem);
      height: var(--size, 4rem);
    }
    100% {
      width: 0rem;
      height: 0rem;
    }
  }
  
  @keyframes bubble-size {
    0%, 75% {
      width: var(--size, 4rem);
      height: var(--size, 4rem);
    }
    100% {
      width: 0rem;
      height: 0rem;
    }
  }
  @-webkit-keyframes bubble-move {
    0% {
      bottom: -4rem;
    }
    100% {
      bottom: var(--distance, 10rem);
    }
  }
  @keyframes bubble-move {
    0% {
      bottom: -4rem;
    }
    100% {
      bottom: var(--distance, 10rem);
    }
  }
  
  @media screen and (max-width: 767px){
    .footer .content {
      padding: 0 1.5rem;
    }
    .footer .content .container {
      grid-template-columns: repeat(2, 1fr);
    }
    
    .content h2 {
      font-size: 1.5rem;
    }
  
    .content span {
      font-size: .813rem;
    }
  
    .footer__links  {
      flex-direction: column;
      row-gap: 1.5rem;
    }
    
    .footer__socials {
      justify-self: flex-start;
    }
  }
  
  @media screen and (max-width: 567px){
    .footer .content .container {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 3.5rem;
    }
  }
  


/* about page */
.about{
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 0;
  background-color: #3aafa9;

  
}

.about-content {
  margin-top: 100px;
  max-width: 100vw;

}
.about-content h1{

  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
  

  

}

.about-content h1 span{
color:#feffff;
border-bottom: 4px solid #2b7a78;
padding-bottom: 0px;


  

  

}


.about-content p {
  font-size: 17px;
  margin: 20px 0 20px;

}

.about-content p span{
font-weight:700;
border-bottom: 4px solid #2b7a78;
padding-bottom: 0px;

  

  

}

.about-content h2{

  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  

  

}



.numbers{
  height: 75vh;
  background-size: cover;
  background-color: #282828;
  width: 100vw;

  
}

.numbers h2{

  font-size: 200px;
  font-weight: 700;
  color: #3aafa9;

}
.numbers p{

  
  color: #3aafa9;

}

.train{
  height: 75vh;
  background-size: cover;
  background-color: #ffffff;
  width: 100vw;

  
}

.train h2{

  font-size: 200px;
  font-weight: 700;
    color: #17252a;
    
  
}

.train p{
  color: #17252a;

}


.accuracy{
  height: 75vh;
  background-size: cover;
  background-color: #3aafa9;
  width: 100vw;

  
}

.accuracy h2{

  font-size: 200px;
  font-weight: 700;
    color: #ffffff;
    
  
}

.final{
  height: 50vh;
  background-size: cover;
  background-color: #ffffff;
  width: 100vw;

  
}

.final h2{

  font-size: 32px;
  font-weight: 700;
    color: #17252a;
    
  
}


/* scan page */
.scan{
  height: 100vh;
  background-size: cover;
  background-position: center;
  align-items: center;
  padding: 0;
  background-color: #3aafa9;

  
}

.scan-content {
  margin-top: 100px;
  max-width: 100vw;

}
.scan-content h1{

  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
  

  

}

.scan-content h1 span{
color:#feffff;
border-bottom: 4px solid #2b7a78;
padding-bottom: 0px;
  

}


.scan-content p {
  font-size: 17px;
  margin: 20px 0 20px;

}

.scan-content p span{
font-weight:700;
border-bottom: 4px solid #2b7a78;
padding-bottom: 0px;


}
